<form action="{{ path('item_new') }}" method="POST">
  <input type="hidden" name="token" value="{{ csrf_token('create-item') }}"/>
  <div class="mb-3">
    <label for="item_name" class="form-label">Nome</label>
    <input type="text" class="form-control" name="item_name" id="item_name" aria-describedby="itemNameHelp">
    <div id="itemNameHelp" class="form-text">Digite o nome do item</div>
  </div>
  <div class="mb-3">
    <label for="item_description" class="form-label">Descrição</label>
    <input type="text" class="form-control" name="item_description" id="item_description" aria-describedby="itemDescriptionHelp">
    <div id="itemDescriptionHelp" class="form-text">Digite uma descrição</div>
  </div>
  <button type="submit" class="btn btn-primary">Criar um Item</button>
</form>